In [44]:
import numpy as np 
import pandas as pd
import re 
import os

Taking the file path input from the user 

file_path = input('Enter first file path: ')
file_path2 = input('Enter second file path: ')
e.g. C:\Users\Bob\Desktop\example.txt
or /home/Bob/Desktop/example.txt
print(file_path)

if os.path.exists(file_path and file_path2):
    print('The file exists')

    #with open(file_path, 'r', encoding="latin-1") as f:
       # lines = f.readlines()

else:
    print('The specified file does NOT exist')

Enter first file path: C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\OCTOBER\Export\38_Exp_TY2_Oct-22.xlsx
Enter second file path: C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\OCTOBER\Import\38_Imp_TY2_Oct-22.xlsx
C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\OCTOBER\Export\38_Exp_TY2_Oct-22.xlsx
The file exists

In [3]:
df1_exp = pd.read_excel(r'C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\OCTOBER\Export\38_Exp_TY2_Oct-22.xlsx')
df2_imp = pd.read_excel(r'C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\OCTOBER\Import\38_Imp_TY2_Oct-22.xlsx')
df3_imp = pd.read_excel(r'C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\November\Import\38_Imp_TY2_Nov-22.xlsx')
df4_exp = pd.read_excel(r'C:\Users\S1130866\OneDrive - Syngenta\Documents\Shared\Product_Automate\Product_Automate\Import_Export\File to be worked on\November\Export\38_Exp_TY2_Nov-22.xlsx')

In [4]:
df1_exp.columns

Index(['Declaration No', 'HS Four Digit', 'Date', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Currency', 'Unit Value Usd',
       'Fob Usd', 'Destination Port', 'Country', 'Indian Port',
       'Exporter Name', 'Address', 'City', 'Consinee Name', 'Consinee Address',
       'Port Code', 'IEC Phone', 'IEC Email', 'IEC Contact'],
      dtype='object')

In [5]:
df2_imp.columns

Index(['Port Code', 'Indian Port', 'Declaration No', 'Date', 'Importer Name',
       'Address', 'City', 'CHA No', 'CHA Name', 'Country Origin', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Unit Price Usd',
       'Total Value Usd', 'Total_Duty_Usd', 'Loading Port', 'Inv Currency',
       'Supplier Name', 'Supplier Address', 'BE Type', 'IEC Phone',
       'IEC Email', 'IEC Contact'],
      dtype='object')

In [6]:
ddf = pd.read_excel(r'IN ExIM Data 2019 Onwards-Key AIs.xlsx',sheet_name = 'Data')

In [7]:
pwd

'C:\\Users\\S1130866\\Desktop\\Product_Automate'

In [8]:
ddf.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company,NaN,NaN
1,Import,2021,1,2021-01-15 00:00:00,KRISHI RASAYAN EXPORTS PRIVATE LIMITED,CHINA,EMAMECTIN BENZOATE 95% TECHNICAL.ACTUAL USER R...,3000,KGS,168,504000,USD,HUNAN GOFAR FINE CHEMICAL INDUSTR,EMAMECTIN,NaN,EMAMECTIN TECH 95%,KRISHI RASAYAN,NaN,NaN
2,Import,2021,1,2021-01-28 00:00:00,WILLOWOOD CHEMICALS PVT LTD,CHINA,EMAMECTIN BENZOATE 95% TECH (CIB NO. CIR-1976/...,5000,KGS,155.240198,776200.9898,CNY,WILLOWOOD HANGZHOU CO LIMITED,EMAMECTIN,NaN,EMAMECTIN TECH 95%,WILLOWOOD CHEMICALS PRIVATE LIMITED,NaN,NaN
3,Import,2021,2,2021-02-05 00:00:00,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,1800,KGS,190.296299,342533.3379,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,NaN,EMAMECTIN Others,SYNGENTA INDIA LIMITED,NaN,NaN
4,Import,2021,2,2021-02-19 00:00:00,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,2250,KGS,190.554503,428747.6312,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,NaN,EMAMECTIN Others,SYNGENTA INDIA LIMITED,NaN,NaN

In [9]:
ddf.columns = ddf.iloc[0]

In [10]:
ddf.head()

,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company,NaN,NaN
0,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company,NaN,NaN
1,Import,2021,1,2021-01-15 00:00:00,KRISHI RASAYAN EXPORTS PRIVATE LIMITED,CHINA,EMAMECTIN BENZOATE 95% TECHNICAL.ACTUAL USER R...,3000,KGS,168,504000,USD,HUNAN GOFAR FINE CHEMICAL INDUSTR,EMAMECTIN,NaN,EMAMECTIN TECH 95%,KRISHI RASAYAN,NaN,NaN
2,Import,2021,1,2021-01-28 00:00:00,WILLOWOOD CHEMICALS PVT LTD,CHINA,EMAMECTIN BENZOATE 95% TECH (CIB NO. CIR-1976/...,5000,KGS,155.240198,776200.9898,CNY,WILLOWOOD HANGZHOU CO LIMITED,EMAMECTIN,NaN,EMAMECTIN TECH 95%,WILLOWOOD CHEMICALS PRIVATE LIMITED,NaN,NaN
3,Import,2021,2,2021-02-05 00:00:00,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,1800,KGS,190.296299,342533.3379,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,NaN,EMAMECTIN Others,SYNGENTA INDIA LIMITED,NaN,NaN
4,Import,2021,2,2021-02-19 00:00:00,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,2250,KGS,190.554503,428747.6312,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,NaN,EMAMECTIN Others,SYNGENTA INDIA LIMITED,NaN,NaN

In [11]:
df_finalook = ddf.iloc[:,0:-2]

In [12]:
df_finalook.head()

,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company
0,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company
1,Import,2021,1,2021-01-15 00:00:00,KRISHI RASAYAN EXPORTS PRIVATE LIMITED,CHINA,EMAMECTIN BENZOATE 95% TECHNICAL.ACTUAL USER R...,3000,KGS,168,504000,USD,HUNAN GOFAR FINE CHEMICAL INDUSTR,EMAMECTIN,NaN,EMAMECTIN TECH 95%,KRISHI RASAYAN
2,Import,2021,1,2021-01-28 00:00:00,WILLOWOOD CHEMICALS PVT LTD,CHINA,EMAMECTIN BENZOATE 95% TECH (CIB NO. CIR-1976/...,5000,KGS,155.240198,776200.9898,CNY,WILLOWOOD HANGZHOU CO LIMITED,EMAMECTIN,NaN,EMAMECTIN TECH 95%,WILLOWOOD CHEMICALS PRIVATE LIMITED
3,Import,2021,2,2021-02-05 00:00:00,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,1800,KGS,190.296299,342533.3379,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,NaN,EMAMECTIN Others,SYNGENTA INDIA LIMITED
4,Import,2021,2,2021-02-19 00:00:00,SYNGENTA INDIA LIMITED,AUSTRIA,EVICENT 50 KG(EMAMECTIN BENZOATE 5% W/W+LUFENU...,2250,KGS,190.554503,428747.6312,INR,SYNGENTA ASIA PACIFIC PRIVATE LIMITED,EMAMECTIN,NaN,EMAMECTIN Others,SYNGENTA INDIA LIMITED

In [13]:
df_finalook.tail()

,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company
279756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_finalook = df_finalook[df_finalook.isnull().sum(axis = 1) < 4]

In [15]:
df_finalook.tail()

,Type,Year,Month,Date,IMPORTER/EXPORTER NAME,ORIGIN/DESTINATION COUNTRY,PRODUCT DESCRIPTION,QTY,UNIT,UNIT PRICE (USD),Total_VALUE_USD,INVOICE CURRENCY,SUPPLIER/BUYER NAME,Molecule Name,Country,Product Name,Company
272738,Import,2022,10,2022-10-31 00:00:00,INDIA YAMAHA MOTOR PRIVATE LIMITED,JAPAN,WE MORTAR SUPER 3000SW,3,NOS,70.692888,212.078665,JPY,YAMAHA MOTOR BIZ PARTNER CO LIMITED,NaN,JAPAN,Others,INDIA YAMAHA MOTOR PRIVATE LIMITED
272739,Import,2022,10,2022-10-31 00:00:00,INDIA YAMAHA MOTOR PRIVATE LIMITED,JAPAN,YAMAHA BRAKE FLUID - MODEL: BF-4 (=Y4-03D) (CE...,20,NOS,894.941949,17898.83897,JPY,YAMAHA MOTOR BIZ PARTNER CO LIMITED,NaN,JAPAN,Others,INDIA YAMAHA MOTOR PRIVATE LIMITED
272740,Import,2022,10,2022-10-31 00:00:00,VARNA VENTURES,ITALY,TC FIXING AGENT HNFUSED AS CROSS LINKING AGENT...,4200,KGS,8.649604,36328.33623,EUR,TEXTILCOLOR AG,NaN,ITALY,Others,VARNA VENTURES
272741,Import,2022,10,2022-10-31 00:00:00,VARNA VENTURES,ITALY,TECOPRINT GOLDEN YELLOW LRRUSED FOR PRINTING F...,210,KGS,9.253065,1943.143623,EUR,TEXTILCOLOR AG,NaN,ITALY,Others,VARNA VENTURES
272742,Import,2022,10,2022-10-31 00:00:00,NOVA CARBONS INDIA PRIVATE LIMITED,SRI LANKA,COCONUT BASED GRANULAR STEAM ACTIVATED CARBON ...,24200,KGS,1.023785,24775.60799,USD,MANISHA ENCARBON PRIVATE LIMITED,NaN,SRI LANKA,Others,NOVA CARBONS INDIA PRIVATE LIMITED

In [16]:
#### This is what the final data would and should look like

In [17]:
list1 = df1_exp.columns
list2 = df_finalook.columns
list3 = [i for i in list1 if i in list2]

In [18]:
list3

['Date', 'Country']

In [19]:
df1_exp.columns

Index(['Declaration No', 'HS Four Digit', 'Date', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Currency', 'Unit Value Usd',
       'Fob Usd', 'Destination Port', 'Country', 'Indian Port',
       'Exporter Name', 'Address', 'City', 'Consinee Name', 'Consinee Address',
       'Port Code', 'IEC Phone', 'IEC Email', 'IEC Contact'],
      dtype='object')

In [20]:
df1_exp.head(1)

,Declaration No,HS Four Digit,Date,HS Code,Goods Description,Quantity,Unit,Currency,Unit Value Usd,Fob Usd,...,Indian Port,Exporter Name,Address,City,Consinee Name,Consinee Address,Port Code,IEC Phone,IEC Email,IEC Contact
0,2210DEHGAHA,3823,2022-10-01,38237090,OTHER-FATTY ALCOHOL - VEGAROL C1618 50:50 (CET...,7200.0,KGS,USD,3.529578,25412.96061,...,NHAVA SHEVA SEA,VVF INDIA LIMITED,"109, OPP SION FORT GARDEN,,SION EA ST","MUMBAI,MAHARASHTRA",Y S ASHKENAZI AGENCIES LIMITED,"KIBBUTZ NEZER-SERENI, BE ER YACOV POST 70395, ...",INNSA1,'919987534181,vvf.exim@vvfltd.com,"PRATYAYA CHAKRABARTI,PRABIR KUMAR CHAKRABARTI"

In [21]:
df_finalook.columns

Index(['Type', 'Year', 'Month', 'Date', 'IMPORTER/EXPORTER NAME',
       'ORIGIN/DESTINATION COUNTRY', 'PRODUCT DESCRIPTION', 'QTY', 'UNIT',
       'UNIT PRICE (USD)', 'Total_VALUE_USD', 'INVOICE CURRENCY',
       'SUPPLIER/BUYER NAME', 'Molecule Name', 'Country', 'Product Name',
       'Company'],
      dtype='object', name=0)

In [22]:
df3_imp.columns

Index(['Port Code', 'Indian Port', 'Declaration No', 'Date', 'Importer Name',
       'Address', 'City', 'CHA No', 'CHA Name', 'Country Origin', 'HS Code',
       'Goods Description', 'Quantity', 'Unit', 'Unit Price Usd',
       'Total Value Usd', 'Total_Duty_Usd', 'Loading Port', 'Inv Currency',
       'Supplier Name', 'Supplier Address', 'BE Type', 'IEC Phone',
       'IEC Email', 'IEC Contact'],
      dtype='object')

# IMPORT FILE

The following mapping needs to be done from Import file to the final file

'Port Code'           -  Drop
'Indian Port'         -  Drop
'Declaration No'      -  Drop
'Date'                -  Keep
'Importer Name'       -  Becomes 'IMPORTER/EXPORTER NAME'
'Address'             -  Drop
'City'                -  Drop
'CHA No'              -  Drop
'CHA Name'            -  Drop
'Country Origin'      -  Country
'HS Code'             -  Drop
'Goods Description'   -  Becomes 'Product Description'
'Quantity'            -  Becomes QTY
'Unit'                -  Becomes UNIT
'Unit Price Usd'      -  Becomes 'UNIT PRICE (USD)'
'Total Value Usd'     -  Becomes 'Total_VALUE_USD'
'Total_Duty_Usd'      -  Drop
'Loading Port'        -  Drop
'Inv Currency'        -  Becomes 'INVOICE CURRENCY'
'Supplier Name'       -  Becomes 'SUPPLIER/BUYER NAME'
'Supplier Address'    -  Drop
'BE Type'             -  Drop
'IEC Phone'           -  Drop
'IEC Email'           -  Drop
'IEC Contact'         -  Drop

Columns in the main file : 

'Type' - Created
'Year' -  From date 
'Month'- From date
'Date' - Kept as it is
'IMPORTER/EXPORTER NAME' - From Importer NAme / Exporter Name
'ORIGIN/DESTINATION COUNTRY' - From'Country Origin'
'PRODUCT DESCRIPTION' - From 'Goods Description'
'QTY' -             From Quantity 
'UNIT' -             From Unit 
'UNIT PRICE (USD)' - From 'UNit Value USD'
'Total_VALUE_USD' - From 'Total Value Usd'
'INVOICE CURRENCY' - From 'INVOICE CURRENCY'
'SUPPLIER/BUYER NAME' - From 'Supplier Name'
'Molecule Name' - From Script
'Country'       -   From'Country Origin'
'Product Name'  - From Molecule and Suffix
'Company'       -  From 'IMPORTER/EXPORTER NAME'

In [81]:
temp.head()

,Date,Importer Name,Country Origin,Goods Description,Quantity,Unit,Unit Price Usd,Total Value Usd,Inv Currency,Supplier Name
0,2022-11-01,C M C VELLORE ASSOCIATION,AUSTRALIA,LAB CULTURE MEDIA FOR RESEARCH PURPOSE- HUMAN ...,1.00,SET,12.657926,12.657926,AUD,RCPA QUALITY ASSURANCE PROGRAM PTY LIMITED
1,2022-11-01,C M C VELLORE ASSOCIATION,AUSTRALIA,LAB CULTURE MEDIA FOR RESEARCH PURPOSE- HUMAN ...,1.00,SET,12.657926,12.657926,AUD,RCPA QUALITY ASSURANCE PROGRAM PTY LIMITED
2,2022-11-01,ISBIR MEWAR BULK BAG PRIVATE LIMITED,GERMANY,ARGUVIN UV 1099 LD LIGHT STABILIZER-MASTERBATCH,23.00,MTS,4270.000000,98210.000000,USD,ARGUS ADDITIVE PLASTICS GMBH
3,2022-11-01,SHINE EXPORTS,INDONESIA,PALM KERNEL FATTY ACID DISTILLATE IN FLEXIBAG,64500.00,KGS,0.980000,63210.000000,USD,KAPI PRIVATE LIMITED
4,2022-11-01,HI Q ELECTRONICS PRIVATE LIMITED,UNITED STATES,IMMERSION NICKEL/GOLD CHEMICALS FOR MANUFACTUR...,144.24,KGS,11.528435,1662.861502,USD,UYEMURA INTERNATIONAL CORPORATION

In [82]:
temp = df3_imp.drop(['Port Code', 'Indian Port', 'Declaration No','Address', 'City', 'CHA No', 'CHA Name','HS Code','Total_Duty_Usd', 'Loading Port','Supplier Address', 'BE Type', 'IEC Phone','IEC Email', 'IEC Contact'],axis = 1)

temp['Type'] = 'Import'
temp['Year'] = pd.DatetimeIndex(temp['Date']).year
temp['Month'] = pd.DatetimeIndex(temp['Date']).month
temp.rename(columns = {'Importer Name':'IMPORTER/EXPORTER NAME','Country Origin':'Country','Goods Description':'PRODUCT DESCRIPTION','Quantity':'QTY','Unit':'UNIT','Unit Price Usd':'UNIT PRICE (USD)','Total Value Usd':'Total_VALUE_USD','Inv Currency':'INVOICE CURRENCY','Supplier Name':'SUPPLIER/BUYER NAME'},inplace = True)
temp['ORIGIN/DESTINATION COUNTRY'] = temp['Country']
temp['Company'] = temp['IMPORTER/EXPORTER NAME']

temp = temp.loc[:,["Type","Year","Month","Date","IMPORTER/EXPORTER NAME","ORIGIN/DESTINATION COUNTRY","PRODUCT DESCRIPTION","QTY","UNIT","UNIT PRICE (USD)","Total_VALUE_USD","INVOICE CURRENCY","SUPPLIER/BUYER NAME","Molecule Name","Country","Product Name","Company"]]

In [90]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53933 entries, 0 to 53932
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        53933 non-null  datetime64[ns]
 1   IMPORTER/EXPORTER NAME      53933 non-null  object
 2   Country                     53933 non-null  object
 3   PRODUCT DESCRIPTION         53933 non-null  object
 4   QTY                         53933 non-null  float64
 5   UNIT                        53933 non-null  object
 6   UNIT PRICE (USD)            53933 non-null  float64
 7   Total_VALUE_USD             53933 non-null  float64
 8   INVOICE CURRENCY            53933 non-null  object
 9   SUPPLIER/BUYER NAME         53907 non-null  object
 10  Type                        53933 non-null  object
 11  Year                        53933 non-null  int64
 12  Month                       53933 non-null  int64
 13  ORIGIN/DESTINATION COUNTRY  53933 non-null  object
 14  Company                     53933 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(9)
memory usage: 6.2+ MB

# EXPORT FILE

The following mapping needs to be done from Export file to the final file

'Declaration No'        - Drop
'HS Four Digit'         - Drop
'Date'                  - Keep as it is 
'HS Code'               - Drop
'Goods Description'     - Rename it to "PRODUCT Description"
'Quantity'              - Rename it to QTY
'Unit'                  - Rename it to Unit
'Currency'              - Rename it to 'INVOICE CURRENCY'
'Unit Value Usd'        - Rename it to "UNIT PRICE (USD)"
'Fob Usd'               - Rename it to "Total_VALUE_USD "
'Destination Port'      - Drop
'Country'               - Keep
'Indian Port'           - Drop
'Exporter Name'         - Rename it as 'IMPORTER/EXPORTER NAME'
'Address'               - Drop
'City'                  - Drop
'Consinee Name'         - Rename it to 'SUPPLIER/BUYER NAME'
'Consinee Address'      - Drop
'Port Code'             - Drop
'IEC Phone'             - Drop
'IEC Email'             - Drop
'IEC Contact'           - Drop

Columns in the main file : 

'Type'                - Created
'Year'                -  From date 
'Month'               - From date
'Date'                - Kept as it is
'IMPORTER/EXPORTER NAME'     - From Importer NAme / Exporter Name
'ORIGIN/DESTINATION COUNTRY' - From 'Country'
'PRODUCT DESCRIPTION' - From 'Goods Description'
'QTY'                 - From Quantity 
'UNIT'                -From Unit 
'UNIT PRICE (USD)'    - From 'UNit Value USD'
'Total_VALUE_USD'     - From 'Total Value Usd'
'INVOICE CURRENCY'    - From 'INVOICE CURRENCY'
'SUPPLIER/BUYER NAME' - From Consinee Name
'Molecule Name'       - From Script
'Country'             -  From 'Country'
'Product Name'        - From Molecule and Suffix
'Company'             - From 'Importer/Exporter name

In [99]:
temp2 = df4_exp.drop(['Declaration No', 'HS Four Digit', 'HS Code','Destination Port','Indian Port','Address', 'City','Consinee Address','Port Code', 'IEC Phone', 'IEC Email', 'IEC Contact'],axis = 1)

temp2['Type'] = 'Export'
temp2['Year'] = pd.DatetimeIndex(temp2['Date']).year
temp2['Month'] = pd.DatetimeIndex(temp2['Date']).month
temp2.rename(columns = {'Exporter Name':'IMPORTER/EXPORTER NAME','Country Origin':'Country','Goods Description':'PRODUCT DESCRIPTION','Quantity':'QTY','Unit':'UNIT','Unit Value Usd':'UNIT PRICE (USD)','Fob Usd':'Total_VALUE_USD','Currency':'INVOICE CURRENCY','Consinee Name':'SUPPLIER/BUYER NAME'},inplace = True)
temp2['ORIGIN/DESTINATION COUNTRY'] = temp2['Country']
temp2['Company'] = temp2['IMPORTER/EXPORTER NAME']

temp2 = temp2.loc[:,["Type","Year","Month","Date","IMPORTER/EXPORTER NAME","ORIGIN/DESTINATION COUNTRY","PRODUCT DESCRIPTION","QTY","UNIT","UNIT PRICE (USD)","Total_VALUE_USD","INVOICE CURRENCY","SUPPLIER/BUYER NAME","Molecule Name","Country","Product Name","Company"]]

In [101]:
df_finalook.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272743 entries, 0 to 272742
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Type                        272743 non-null  object
 1   Year                        272743 non-null  object
 2   Month                       272743 non-null  object
 3   Date                        272743 non-null  object
 4   IMPORTER/EXPORTER NAME      272743 non-null  object
 5   ORIGIN/DESTINATION COUNTRY  272743 non-null  object
 6   PRODUCT DESCRIPTION         272743 non-null  object
 7   QTY                         272743 non-null  object
 8   UNIT                        272743 non-null  object
 9   UNIT PRICE (USD)            272743 non-null  object
 10  Total_VALUE_USD             272743 non-null  object
 11  INVOICE CURRENCY            272659 non-null  object
 12  SUPPLIER/BUYER NAME         271047 non-null  object
 13  Molecule Name               62118 non-null   object
 14  Country                     242249 non-null  object
 15  Product Name                272743 non-null  object
 16  Company                     272731 non-null  object
dtypes: object(17)
memory usage: 37.5+ MB

In [102]:
df_finalook['Product Name'].value_counts()

 Others                209446
MANCOZEB Others         13647
oil Others               3317
MANCOZEB TECH            3084
GLUFOSINATE Others       2052
                        ...
, quinalphos Others         1
tricontanol Others          1
roundup Others              1
benfil Others               1
methoprene Others           1
Name: Product Name, Length: 1092, dtype: int64

In [105]:
df_finalook['Product Name'].tail(50)

272693              Others
272694              Others
272695              Others
272696              Others
272697      protein Others
272698              Others
272699    magnesium Others
272700              Others
272701              Others
272702              Others
272703              Others
272704              Others
272705              Others
272706              Others
272707              Others
272708              Others
272709              Others
272710              Others
272711              Others
272712              Others
272713              Others
272714      control Others
272715              Others
272716              Others
272717              Others
272718              Others
272719              Others
272720              Others
272721              Others
272722              Others
272723              Others
272724              Others
272725              Others
272726              Others
272727              Others
272728              Others
272729              Others
272730              Others
272731              Others
272732              Others
272733              Others
272734              Others
272735              Others
272736      calcium Others
272737      calcium Others
272738              Others
272739              Others
272740              Others
272741              Others
272742              Others
Name: Product Name, dtype: object

In [5]:
a = "Hello ,there ,my ,name"
b = "name ,my ,there ,Hello"
l1 = [i for i in a.split(' ,')]
l2 = [i for i in b.split(' ,')]

In [6]:
l1 == l2

False

In [7]:
l1

['Hello', 'there', 'my', 'name']

In [8]:
l2

['name', 'my', 'there', 'Hello']

In [9]:
sorted(l1) == sorted(l2)

True